<br>
<div class="container-fluid">
   {{!-- Form --}}
   <form class="form-horizontal" role="form" enctype="multipart/form-data" action="/" method="POST">
      <div class="form-group">
         <div class="mx-auto" style="width: 300px;">
            <p clas="bg-light">Choose a file to upload</p>
            <input type="file" class="form-control bg-light" name="file" >
            <br>
            <button class="btn btn-info shadow rounded" type="submit" value="Submit">Send</button>
         </div>
      </div>
      <div class="form-group">
         <div class="mx-auto" style="width: 300px;">
            <p clas="bg-light">Show downloaded files</p>
            <a class="btn btn-info shadow rounded" href="/files">Show</a>
         </div>
      </div>
   </form>
</div>
         
