<!DOCTYPE html>
<html>
   <head>
      <title> No files </title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>
      <div class="container-fluid">
         <br>
         <div class="mx-auto" style="width: 500px;">
            <h3 class="text-muted">You have to choose a file to upload!</h3>
         </div>
         <br>
         <div class="mx-auto" style="width: 500px;">
            <a class="btn btn-info shadow rounded" href="/">Return</a>
         </div>
        {{{body}}}
      </div>
   </body>
</html>
