<!DOCTYPE html>
<html>
   <head>
      <title> Successfully uploaded</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      {{!-- <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"> --}}
   </head>
   <body>
      <div class="container">
         <div>
            <br>
            <div class="mx-auto" style="width: 500px;">
               <h3 class="text-success">File has been uploaded successfully!</h3>
               <br>
            </div>
            <div class="mx-auto" style="width: 500px;">
               <p class="text-muted">Return to main page</p>
               <a class="btn btn-info shadows rounded" href="/">Go</a>
            </div>
            {{{body}}}
         </div>
      </div>
   </body>
</html>